@font-face {
  font-family: "Inika"; 
  src: url('./assets/fonts/Inika-Regular.ttf')
}

@font-face {
  font-family: "Inter"; 
  src: url('./assets/fonts/Inter-variable-font.ttf') format('truetype');
  font-weight: 100 900
}

$main-color: #58C835;
$secondary-color: #282E3A;
$background-color: #D1FFC6;

@mixin font($fontfamily, $fontstyle, $fontweight, $fontsize, $lineheight, $color) {
  font-family: $fontfamily;
  font-style: $fontstyle;
  font-weight: $fontweight;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $color;
}
@mixin positionning($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* BODY */
body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  .mobile {
    display: none;
  }
}

/* ASIDE */
aside {
  width: 110px;
  height: 100vh;
  .logo {
    background-color: $main-color;
    height: 120px;
    @include positionning(flex, center, center);
  }
  .social-network {
    background-color: $secondary-color;
    @include positionning(flex, end, center);
    flex-direction: column;
    gap: 35px;
    padding-bottom: 100px;
    height: calc(100vh - 100px - 120px);
    img {
      width: 40px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* NAVBAR */
nav {
  position: absolute;
  left: 110px;
  @include positionning(flex, space-between, center);
  width: calc(100% - 110px - 100px);
  padding: 36px 50px;
  z-index: 1;
  .title {
    h1 {
      @include font('Inter', normal, 500, 40px, 48px, $main-color);
    }  
  } 
  ul {
    @include positionning(flex, start, center);
    list-style: none;
    gap: 50px;
    padding: 0 50px;
    li {
      white-space: nowrap;
      @include font('Inter', normal, 500, 16px, 29px, black);
      &:hover {
        cursor: pointer;
      }
    }
    .active {
      border-bottom: 2px solid $main-color;
    }
  }
  .options {
    @include positionning(flex, start, start);
    gap: 45px;
    img {
      width: 35px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* MAIN */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: calc(100vw - 110px);
  .left-section {
    padding: 220px 0 0 50px;
    position: relative;
    .intro {
      margin-bottom: 60px;
      header {
        margin-bottom: 40px;
        h2 {
          @include font('Inika', normal, 400, 48px, 63px, black);
          white-space: nowrap;
        }
      }
      .content {
        @include font('Inter', normal, 400, 16px, 19px, black);
        margin-bottom: 50px;
        max-width: 420px;
        padding-right: 10px;
      }
      footer {
        display: flex;
        gap: 50px;
        button {
          @include font('Inter', normal, 500, 20px, 24px, black);
          padding: 11px 15px;
          border: 2px solid $main-color;
          border-radius: 50px;
          background-color: white;
          white-space: nowrap;
          &:hover {
            cursor: pointer;
          }
        }
        .active {
          background-color: $main-color;
          color: white;
        }
      }
    }
    .summary {
      .summary-header {
        @include positionning(flex, space-between, center);
        padding-bottom: 30px;
        .subtitle {
          @include font('Inter', normal, 500, 24px, 29px, black);
        }
        .expend {
          @include font('Inter', normal, 400, 16px, 19px, #6A6A6A);
          text-decoration-line: underline;
          padding-right: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 21px;
        padding-right: 20px;
        article {
          header {
            @include font('Inter', normal, 500, 20px, 24px, black);
            margin-bottom: 10px;
          }
          div {
            @include font('Inter', normal, 400, 16px, 19px, black);
          }
        }
      }
    }
    .page-locator {
      position: absolute;
      bottom: 10px;
      right: 10px;
      .current-page {
        @include font('Inter', normal, 500, 48px, 58px, $main-color);
      }
      .separator {
        @include font('Inter', normal, 500, 40px, 48px, $main-color);
        padding: 0 5px 0 20px;
      }
      .total-page {
        @include font('Inter', normal, 500, 24px, 29px, $main-color);
      }
    }
  }
  .right-section {
    background-image: 
      radial-gradient(50% 22.02% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.048) 100%),
      url("./assets/images/photo-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom ;

    @include positionning(flex, center, center);
    .circle {
      width: 135px;
      height: 135px;
      border: 3px solid white;
      border-radius: 50%;
      @include positionning(flex, center, center);
      img {
        width: 100px;
        height: 100px;
      }
      &:hover {
        cursor: pointer;  
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  nav {
    ul {
      gap: 35px;
    }
    .options {
      gap: 35px;
    }
  }
  main {
    .left-section {
      padding: 195px 0 0 50px;
      .summary {
        .articles {
          gap: 15px;
          padding-right: 15px;
          article { 
            header {
              @include font('Inter', normal, 500, 16px, 24px, black);
              margin-bottom: 8px;
            }
            div {
              @include font('Inter', normal, 400, 14px, 19px, black);
            }
          }
        }
      } 
    }
  }
}

@media screen and (max-width: 1100px) {
  nav {
    ul {
      gap: 20px;
    }
    .options {
      gap: 20px;
    }
  }
  main {
    .left-section {
      .intro {
        margin-bottom: 40px;
        header {
          margin-bottom: 30px;
          h2 {
            @include font('Inika', normal, 400, 40px, 54px, black);
            white-space: nowrap;
          }
        }
        .content {
          @include font('Inter', normal, 400, 16px, 19px, black);
          margin-bottom: 40px;
          max-width: 420px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  aside, nav, main {
    display: none;
  }
  body {
    .mobile {
      display: block;
      width: 100vw;
      overflow-x: hidden;
      header {
        @include positionning(flex, start, center);
        position: relative;
        height: 65px;
        .logo {
          background-color: $main-color;
        }
        .title {
          @include font('Inter', normal, 500, 40px, 48px, $main-color);
          margin: auto;
          padding-right: 53px;
        }
        #menu-toggle {
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 1;
          user-select: none;
          input {
            width: 33px;
            height: 33px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            margin: 0;
            &:checked {
              ~ {
                span{
                opacity: 1;
                transform: rotate(45deg) translate(3px, -1px);
                background: $secondary-color;
                &:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                  }
                &:nth-last-child(2) {
                  transform: rotate(-45deg) translate(0, 5px);
                  }
                }
                ul {
                  transform: none;
                  li {
                    user-select: all;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
          span {
            display: flex;
            width: 29px;
            height: 2px;
            margin: 0 2px 5px 2px;
            position: relative;
            top: -29px;
            background-color: $secondary-color;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0px;
            transition: 
              transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
            &:first-child {
              transform-origin: 0% 0%;
            }
            &:nth-last-child(2) {
              transform-origin: 0% 100%;
            }
          }
          ul { 
            position: absolute;
            top: 45px;
            left: -180px;
            width: 150px;
            box-shadow: 0 0 10px #85888C;
            padding: 25px 50px;
            background-color: white;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(100%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            list-style-type: none;
            li {
              white-space: nowrap;
              padding: 5px 10px;
              margin: 8px;
              transition-delay: 2s;
              @include font('Inter', normal, 500, 20px, 24px, black);
            }
            .active {
              border-left: 4px solid $main-color;
              background: linear-gradient(90deg, $background-color, white) ;
            }
          }
        }
      }
      .content {
        padding: 10px;
        .titles {
          padding-bottom: 15px;
          h2 {
            @include font('Inika', normal, 400, 36px, 40px, black);
          }
        }
        .description {
          @include font('Inter', normal, 400, 16px, 20px, black);
          max-width: 420px;
          padding-bottom: 15px;
        }
        .buttons {
          @include positionning(flex, space-around, center);
          padding-bottom: 35px;
          button {
            @include font('Inter', normal, 500, 20px, 24px, black);
            padding: 10px;
            border: 2px solid $main-color;
            border-radius: 50px;
            background-color: white;
            white-space: nowrap;
            box-shadow: 0 3px 10px #85888C;
            &:hover {
              cursor: pointer;
            }
          }
          .active {
            background-color: $main-color;
            color: white;
          }
        }
        .articles {
          .header {
            padding-bottom: 15px;
            @include positionning(flex, space-between, center);
            .subtitle {
              @include font('Inter', normal, 500, 24px, 29px, black);
            }
            .expend {
              @include font('Inter', normal, 400, 16px, 19px, #6A6A6A);
              text-decoration-line: underline;
              &:hover {
                cursor: pointer;
              }
            }
          }
          article {
            padding-bottom: 15px;
            h3 {
              @include font('Inter', normal, 500, 20px, 24px, black);
            }
            div {
              @include font('Inter', normal, 400, 16px, 19px, black);
            }
          }
        }
      }
      .video {
        @include positionning(flex, center, center);
        height: 100vw;
        background-image: 
          radial-gradient(50% 22.02% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.048) 100%),
          url("./assets/images/photo-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom ;
        .circle {
          width: 135px;
          height: 135px;
          border: 3px solid white;
          border-radius: 50%;
          @include positionning(flex, center, center);
          img {
            width: 100px;
            height: 100px;
          }
          &:hover {
            cursor: pointer;  
          }
        }
      }
      footer {
        background-color: $secondary-color;
        padding: 10px 0;
        @include positionning(flex, center, center);
        gap: 25px;
        &:hover {
          cursor: pointer;  
        }
      }
    }
  }
}